@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añadimos un nuevo componente personalizado para el efecto de cuaderno */
@layer components {
  /* --- Estilos para el Modo Claro (Light Mode) --- */
  .notebook {
    background-color: #fdfaf2; /* Un color crema para el papel */
    /* Eliminamos la línea vertical del background-image */
    background-image:
      linear-gradient(#e8e8e8 .05em, transparent .05em); /* Líneas horizontales grises */
    background-size: 100% 1.2rem; /* El espaciado entre las líneas horizontales */
    
    background-position-y: 0.5rem; 

    line-height: 1.2rem !important;
    color: #3b3b3b;
    /* Reducimos el padding izquierdo al no tener margen */
    padding-left: 20px !important; 
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  /* --- Estilos para el Modo Oscuro (Dark Mode) --- */
  .dark .notebook {
    background-color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) .05em, transparent .05em);
    color: #e2e8f0;
    padding-left: 20px !important;
  }
}

.journal-editor, textarea.journal-editor {
  line-height: 1.5 !important;
}
